

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.textareas-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.textareas-wrapper textarea {
  flex: 1;
}

.launch-button {
  width: 100%;
  height: 90px;
}